
#match-form {
  width: 280px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

#match-form * {
    box-sizing: border-box;
}

#match-form h2{
  text-align: center;
  margin-bottom: 30px;
}

#match-form input {
  margin-bottom: 15px;
}

#match-form input[type=text] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

#match-form input[type=number] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

#match-form select {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

#match-form label {
  color: #777;
  font-size: 0.8em;
}

#match-form input[type=button] {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  background: #EF4566; /* Old browsers */
}

#match-form {
  width: 280px;
  margin: 0 auto;
  background-color: #89A2FF;
  
  padding: 20px 80px 80px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

#match-form * {
    box-sizing: border-box;
}

#match-form label{
  color: aliceblue;
}

#match-form h2{
  text-align: center;
  margin-bottom: 30px;
  padding: 30px 50px 30px 50px;
  color: aliceblue;
  background-color: #E588FF;
}

#myProgress {
    width: 30%;
    background-color: grey;
    visibility: hidden;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#side-results {
  width: 280px;
  margin: 0 auto;
  background-color: #89A2FF;
  
  padding: 20px 80px 80px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

#side-results * {
    /*box-sizing: border-box;*/
  color: aliceblue;
}

#side-results h2{
  text-align: center;
  margin-bottom: 30px;
  padding: 30px 50px 30px 50px;
  color: aliceblue;
  background-color: #E588FF;
}

.match-info {
  background-color: #E588FF;
  padding: 5px 5px 5px 5px;
  margin-left: 0px;
    display: inline-block;
    vertical-align: top;
}

.green {
  background-color: #83AE9B;
  padding: 5px 10px 5px 10px;
}

.yellow {
  background-color: #FF9731;
  padding: 5px 10px 5px 10px;
}

.red {
  background-color: #EF4566;
  padding: 5px 10px 5px 10px;
}

.first {
  color: white;
}